html{
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin:0;
    height: auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba( 9,33, 43)) no-repeat , url('../img/interstellar.jpg') no-repeat;
        background-size:100% 100%;
        font-family: 'Didact Gothic';
        background-color:rgba( 9, 33, 43);
        padding-bottom: 2%;
    } /* fix the margin problem of the bar (set it at the far left)*/

:root{
    --primary-color: #408cbf;
    --alt-primary-color: #005c99;
    --secondry-color: #333;
    --alt-secondry-color:#777;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--primary-color); /* a7la blue gbto fe 7yaty*/
    top: 0;
    width: 100%;
}

.active {
    background-color: var(--secondry-color); 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-family: 'Courgette';
    font-weight: bold;
}

li a:hover:not(.active) { /* Don't change hove color */

    
    background-color:   var(--alt-primary-color); /*Deeper blue*/
}

footer {
        position: relative;
        height: 100px;
        width: 100%;
        background-color: var(--secondry-color);
}

p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
}

.head-textbox{
    color: #fff;
    font-size: 2.5em;
    text-shadow: 0.03em 0.03em var(--alt-secondry-color);
    font-style: italic;
}

.sub-textbox{
    color: #fff;
    font-size: 2em;
    text-shadow: 0.04em 0.04em var(--alt-secondry-color);
}

.cover-photo{
    height: 400px;
    width: 20%;
    margin: 2%;
    border-style: solid;
    border-radius: 10px;
    border-color:white;
    border-width:6px;
}

