<!DOCTYPE html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'emdb/css/pagestyle.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'movies/css/browsestyle.css'%}">
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>    
    <body >
        
        <ul>
            <li><a href="home">Home</a></li>
            <li><a class="active" href="browse">Browse</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li style="float:right"><a href="{% url 'registeration:login' %}">
            Login</a></li>
        </ul>
        
        <h1 class="head-textbox" style="text-align: center;">
            Browse Movies
        </h1>

        <div>
            <div class="textbody-left">
                <p style="margin-bottom: -2%;">Genre:</p>
                <form action="" method="post" >
                    {% csrf_token %}
                    {{ form.genre }}
                </form>
            </div>
            <div class="textbody-right">    
                <p style="margin-bottom: -2%;">Sort by:</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.sort }}
                </form>
            </div>

            <div style= "margin-left: 30%; max-width:600px;"> 
                <form class="search" action="" method="post">
                    {% csrf_token %}
                    {{ form.search }}
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <!-- !PAGE CONTENT! -->
        <!-- First Photo Grid-->
        <div class="browse-pages" style="width: 100%; padding: 30px;">
                <img src="" class="cover-photo" style="margin-left: 16%">
                <img src="" class="cover-photo">
                <img src="" class="cover-photo">
        </div>
        
        <!-- Second Photo Grid-->
        <div class="browse-pages" style="width: 100%; padding: 30px;">
                <img src="" class="cover-photo" style="margin-left: 16%">
                <img src="" class="cover-photo">
                <img src="" class="cover-photo">
        </div>

        <!-- Third Photo Grid -->
        <div class="browse-pages" style="width: 100%; padding: 30px;">
                <img src="" class="cover-photo" style="margin-left: 16%">
                <img src="" class="cover-photo">
                <img src="" class="cover-photo">
        </div>

        <!-- Pagination -->
        {% if movies %}
            <div class="pagination" style="text-align: center;">
                {% if movies.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">&laquo;</a>
                {% endif %}
                {% for pg in movies.paginator.page_range %}
                    {% if posts.number == pg %}
                        <a class="active" href="?page={{ pg }}">{{ pg }}</a>
                    {% else %}
                        <a href="?page={{ pg }}">{{ pg }}</a>
                    {% endif %}
                {% endfor %}
                {% if movies.has_next %}
                    <a href="?page={{ movies.next_page_number }}">&raquo;</a>
                {% endif %}
            </div>
        {% endif %}


        <script>
            var SLIDES_COUNT = 9;
            var slidesSrc = [];
            {% for movie in movies %}
                slidesSrc.push("{{ movie.movie_logo }}")
            {% endfor %}
            showSlides();

            function showSlides() {
                var i;
                var slides = document.getElementsByClassName("cover-photo");

                for(i = 0; i < SLIDES_COUNT ; i ++) {
                    if (i < slidesSrc.length) {
                        slides[i].src = slidesSrc[i];
                    }
                    else {
                        slides[i].src = "";
                    }
                }
            }


        </script>

    </body>
</html>
