<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title> Movie Details</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'emdb/css/pagestyle.css'%}">  
    <link rel="stylesheet" type="text/css" href="{% static 'movies/css/moviepage.css' %}">   
		<link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

  </head>
  <body>

    <ul>
		  <li><a href="home">Home</a></li>
		  <li><a href="browse">Browse</a></li>
          <li ><a href="{% url 'registeration: profile' %}">
             My Profile</a></li>
		  <li><a href="contact">Contact Us</a></li>
		  <li style="float:right"><a href="{% url 'registeration:login' %}">
      Login</a></li>
    </ul>

    <div class="grid-container">
      <div class="item1">
        <h1 class="sub-textbox">"Movies Name"</h1>
        <h2>★</h2>
        <h4 class="sub-textbox">6.8/10</h4>
        <img class="Movie-photo" src="img/s1.jpg" />
      </div>
      <div class="item2"><iframe class="video" src=""></iframe></div> 
    </div>
    <hr><br>
    <div class="details">
      <h4 class="sub-textbox" style="text-decoration: underline;">Storyline :</h4>
      <p class="body-textbox">Captain Jack Sparrow finds the winds of ill-fortune blowing even more strongly when deadly ghost pirates led by his old nemesis,
         the terrifying Captain Salazar, escape from the Devil's Triangle, 
         determined to kill every pirate at sea...including him. 
         Captain Jack's only hope of survival lies in seeking out the legendary Trident of Poseidon, 
         a powerful artifact that bestows upon its possessor total control over the seas.</p>
      <hr><br>
      
      <h4 class="sub-textbox"style="text-decoration: underline;">Director :</h4>
      <div class="cast">
        <div class="chip">
          <img src="img/Bryan Buckley.jpg" alt="Person" width="96" height="96">
          Bryan Buckley
        </div><br><br>
      </div>

      <hr><br>
      <h4 class="sub-textbox" style="text-decoration: underline;">Cast :</h4>
      <div class="cast">
        <div class="chip">
          <img src="img/Al Pacino.jpg" alt="Person" width="96" height="96">
          Al Pacino as "Seymour Tolbin"
        </div><br><br>
        <div class="chip">
          <img src="img/Evan Peters.jpg" alt="Person" width="96" height="96">
          Evan Peters	as "Jay Bahadur"
        </div><br><br>
        <div class="chip">
          <img src="img/Melanie Griffith.jpg" alt="Person" width="96" height="96">
          Melanie Griffith as "Maria Bahadur"
        </div>
      </div>
    </div><hr>

    <div class="commintsList">
      <h4 class="sub-textbox" style="text-decoration: underline;">Comments :</h4>
      <div>
        <h4 class="body-textbox"style="text-decoration: underline;">Mohamed Medhat</h4>
        <p class="body-textbox">This is a very good movie</p>
      </div><hr><br>
      <div>
          <h4 class="body-textbox"style="text-decoration: underline;">Mahmoud Nagy</h4>
          <p class="body-textbox">I love this movie</p>
      </div><hr><br>
      <div>
          <h4 class="body-textbox"style="text-decoration: underline;">Mostafa El-Shazli</h4>
          <p class="body-textbox">.....</p>
      </div><hr><br>
    </div>

    <form class="review"><br>
      <div class="comment">
        <h4 class="body-textbox" style="color: #FFFFFF">Comment :</h4>
        <textarea rows="7"></textarea>
      </div><br>
      <div class="rating">
        <legend class="body-textbox">Rate:</legend>
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time"></label>
			</div>
      <button type="submit" class="button">Submit</button>
    </form>
    

  </body>

  </html>
