<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title> Movie Details</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'emdb/css/pagestyle.css'%}">  
    <link rel="stylesheet" type="text/css" href="{% static 'movies/css/moviestyle.css'%}">
      <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
      <style>
          .body-textbox{color: white; font-size: 1.2em; margin-left: 1.1%; margin-top: -2%;}
          .comment-textbox{color: white; font-size: 1.2em; margin-left: 1.9%;}
          .comment-view{color: white; font-size: 1.2em; margin-left: 1.5%; margin: auto;}
          .commentsList{padding: 2%; width: 80%; margin-left: 7%;}
        .commentsList div{ background-color: var(--secondry-color); border-radius: 5px;}
      </style>

  </head>
  <body>

    <ul>
		  <li><a href="home">Home</a></li>
		  <li><a href="browse">Browse</a></li>
		  <li><a href="contact">Contact Us</a></li>
		  <li style="float:right"><a href="{% url 'registeration:login' %}">Login</a></li>
    </ul>


    <div class="grid-container">
      <div class="item1">
        <h1 class="sub-textbox">{{movie.name}}</h1>
        <h2>★</h2>
        <h4 class="sub-textbox">{{ movie.rate }}/10</h4>
        <img class="Movie-photo" src="{{ movie.movie_logo }}" />
      </div>
      <div class="item2"><iframe class="video" src="{{ movie.trailer_url }}"></iframe></div>
    </div>
    <hr><br>
    <div class="details">
      <h4 class="sub-textbox" style="text-decoration: underline;">Storyline :</h4>
      <p class="body-textbox">{{ movie.description }}</p>
      <hr><br>

      <h4 class="sub-textbox"style="text-decoration: underline;">Director :</h4>
        {% for director in directors %}
      <div class="cast">
        <div class="chip">
          <img src="{{ director.photo }}" alt="Person" width="96" height="96">
          {{ director.name }}
        </div><br><br>
      </div>
        {% endfor %}
      <h4 class="sub-textbox"style="text-decoration: underline;">Writer :</h4>
        {% for writer in writers %}
      <div class="cast">
        <div class="chip">
          <img src="{{ writer.photo }}" alt="Person" width="96" height="96">
          {{ writer.name }}
        </div><br><br>
      </div>
        {% endfor %}

      <hr><br>
      <h4 class="sub-textbox" style="text-decoration: underline;">Cast :</h4>
      <div class="cast">
          {% for actor in actors %}
        <div class="chip">
          <img src="{{ actor.photo }}" alt="Person" width="96" height="96">
          {{ actor.name }}
        </div><br><br>
          {% endfor %}

      </div>
    </div><hr>

    <div class="commentsList">
      <h4 class="sub-textbox" style="text-decoration: underline;">Comments :</h4>
      {% for r in reviews %}
      <div style="padding:0.5%;">
        <h4 class="comment-view"style="text-decoration: underline;float:left">{{r.created_by.first_name}} {{r.created_by.last_name}}:</h4>
        <p class="comment-view" style="margin-left:50%;float:left; margin-right: 5% ; color: yellow">★{{r.rate}}/10</p>
        <br>
        <p class="comment-textbox">{{r.comment}}</p>
      </div><hr><br>
      {% endfor %}
    </div>


    <form class="review" action="/review/{{movie.pk}}/add_review/" method="post"><br>
      {% csrf_token %}
      <div class="comment">
        <h4 class="body-textbox">Comment :</h4>
        <textarea rows="7" name="comment" type="text">{{review.comment}}</textarea>
      </div><br>
      <div class="rating">
        <legend class="body-textbox">Rate:</legend>
        <input type="radio" name="rate" type="number" id="star5"  value="5" checked /><label for="star5"></label>
        <input type="radio" name="rate" type="number" id="star4"  value="4" /><label for="star4"></label>
        <input type="radio" name="rate" type="number" id="star3"  value="3" /><label for="star3"></label>
        <input type="radio" name="rate" type="number" id="star2"  value="2" /><label for="star2"></label>
        <input type="radio" name="rate" type="number" id="star1"  value="1" /><label for="star1"></label>
			</div>
      <button type="submit" class="button">Submit</button>
    </form>
    

  </body>

  </html>
