<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8/">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registeration/css/register.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'emdb/css/pagestyle.css' %}">   
    <link href='https://fonts.googleapis.com/css?family=Courgette' 
		rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' 
		rel='stylesheet'>
 </head>
 <body>
		<ul>
		  <li><a href="{% url 'movies:home' %}">Home</a></li>
          <li><a href="{% url 'movies:browse' %}">Browse</a></li>
          <li><a href="">Contact Us</a></li>
		  <li style="float:right"><a class="active" href=" {%url 'registeration:login' %}">Login</a></li>
		</ul>
  
    <div class="create">
      <form name="register">							
				<label >First name</label>
        <input type="text" name="firstname" placeholder="First name"><br>
        <label >Last name</label>
        <input type="text" name="lname" placeholder="Last name"><br>
        <label >Your email</label>
        <input  type="email" name="email" placeholder="example@host.com"><br>
        <label >Create  Password</label>
        <input  type="password" name="Your Password" placeholder="Enter password"><br>				
				<label>Confirm  Password</label>
        <input type="password" name="Your password" placeholder="Confirm password"><br>
        <input type="reset" value="Reset">
        <input type="submit" value="Create">
      </form>
    </div>
  
 </body>
</html>