input[type=submit] {display: block;
    background-color:var(--primary-color);
    color:white;
    display: block;   
    width: 40%;
    padding: 12px 20px;
    border: none;
    border-radius:5px;
    margin-right: 2%;
    font-size: 60%;
    font-weight: bold;
    float: right;
    margin-top: 5%;
}
    
    
input[type=submit]:hover :hover {color:white;
    background-color:var(--alt-primary-color);
}
    
div.login{color: var(--primary-color);  width:25%;
    position: absolute;   left:540px;  top:175px;  border-radius:10px; 
}

label{
    font-size: larger;  color:#FFFFFF;  position: relative;  left:4px;  top:0px;right: 1px;
}
 
input{
    width:85%;
    padding: 12px 20px;
    margin: 10px 0px 0px 0px;
    display:inline-block;
    border: 1px solid #aaa;
    border-radius:8px;    transition: width 0.4s ease-in-out;
    display: block; 
}

input[type=email]:focus,
input[type=password]:focus {
    width: 100%;border-radius:5px;}
    
div.signup{  list-style-type: none; float: left;border-radius:5px; font-size: 100%;
    padding: 0;
    overflow: auto;
    color:#FFFFFF;
}
.button{
        margin-left: -10%;
        font-size: 150%;
}

.errorlist
{
    color: red;
}
    
