

input[type=submit] ,  input[type=reset] {display: block;
    background-color:var(--primary-color);
    color:#FFFFFF;
    display: block;   
    width: 40%;
    padding: 12px 20px;
    display:inline-block;
    border: none;
    border-radius:5px;
    
    font-weight: bold;
    }
input[type=reset]{
    margin-right: 15%; 
}  
    
input[type=submit]:hover,  input[type=reset]:hover {color:white;
    background-color:var(--alt-primary-color);
}
    
    


div.create{color: red;  width:25%;
    position: absolute;   left:37%;  top: 8%;  border-radius:10px;
    padding: 2%
}


 label{
    font-size: larger;  color:#FFFFFF;  position: relative;  left:4px;  top:0px;right: 1px;font-style: bold;
}
 


input{
    width:85%;
    padding: 12px 20px;
    margin: 10px 0px 0px 0px;
    display:inline-block;
    border: 1px solid #aaa;
    border-radius:8px;    transition: width 0.4s ease-in-out;
    display: block; 

}



input[type=text]:focus,input[type=email]:focus,
input[type=password]:focus {
    width: 100%;border-radius:5px;}
    

