
.k{border:0;display: block;}
.p{display: inline-block;margin-right: 2px;}
.p1{display: inline-block}
.p2{display: inline-block;}
.b6{margin-left: 30px;margin-top: 10px;display:inline-block;font-size: 28px;}
.b5{margin-left: 170px;margin-top: 20px;display:inline-block;font-size: 20px}






.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 23%;
  margin: 3%;
  text-align: center;
  font-family: arial;
  float: left;
  margin-left: 6%;
  color:white;
  
}

.title {
  color: grey;
  font-size: 18px;
}

    
img.im

{ width: 21% ;

display: inline;top:100px;
margin: 2%
    
    }    


    

