
        .grid-container {
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 10px;
          padding: 2%;
          margin-left: 5%;}
        .details{ padding: 2%; background-color: var(--secondry-color); border-radius: 25px; width: 80%; margin-left: 8%;}
        .details p,h4{margin-left: 1%; margin-top: -2%;}
        .details p {margin-top: -3.5%;}
        .item1 {grid-column-start: 1; grid-column-end: 3;}
        .item1 h1{margin-left: 2%;}
        .item1 h2{color: #FFFA00 ;font-size: 1.5em; margin-left: 120%; margin-top: -14.7%;}
        .item1 h4{color: #fff ; font-size: 1.2em; margin-left: 128%; margin-top: -12.8%;}
        .Movie-photo{width: 271px; height: 404px; margin: 0 auto;}
        .video{width:800px; height:400px; margin-left: -8%; margin-top: 10%; }

        .chip {
          display: inline-block;
          padding: 0 25px;
          height: 70px;
          font-size: 25px;
          line-height: 70px;
          border-radius: 35px;
          background-color: #f1f1f1;
          margin-left: 2%;}
        .chip img {
            float: left;
            margin: 0 10px 0 -25px;
            height: 70px;
            width: 70px;
            border-radius: 70%;}
        .cast{margin-top: -2.5%;}

        .review{ padding: 2%; width: 80%; background-color:var(--secondry-color); border-radius: 25px; margin-left: 8%;}
        .comment textarea{ background-color : white;
               color: black;
               border-radius: 5px;width: 60%; margin-top: -1.5%; margin-left: 1.2%;}
        .spinner{
               background-color : var(--primary-color);
               color: white;
               font-style: bold;
               border-color: var(--alt-primary-color);
               border-radius: 5px;
               font-size: 1.1em;
           }
        .button{ margin-left: 80%;
          font-size: 1.2em;
          background-color : white;}

          .rating {float:left; margin-left: 1.1%; }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
          follow these rules. Every browser that supports :checked also supports :not(), so
          it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position:absolute;
            top:-9999px;
            clip:rect(0,0,0,0);
        }


        .rating:not(:checked) > label {
            float:right;
            width:.9em;
            padding:0 .1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:150%;
            line-height:1.2;
            color: white;
            text-shadow:1px 1px white, 2px 2px #666, .1em .1em .2em rgba(0,0,0,0);
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: gold;
            text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,0);
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: #FFFA00;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,0);
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #F7B825;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,0);
        }

        .rating > label:active {
            position:relative;
            top:2px;
            left:2px;}
